# Auto detect text files and perform LF normalization
* text=auto
js/packages/api-client/src/gen/**/*.ts text eol=lf whitespace=-blank-at-eof
.cursor/** linguist-detectable=false
.cursor/** linguist-vendored=true
proto/vendor/** text eol=lf linguist-vendored=true
