.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
Sources/AuvMacosOverlayNative/Generated/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
